.filters {
        height: 70px;
        width: 100%;
        border-radius: 4px;
        border: 1px solid #DDDDDD;
        position: relative;
	  display: flex;
	  flex-direction: row;
}

.locations {
        width: 25%;
        height: 100%;
        border-right: 1px solid #DDDDDD;
	  line-height: 1px;
	  position: absolute;
}

.amenities {
        width: 25%;
        height: 100%;
	  line-height: 1px;
	  position: absolute;
	  left: 25%;
}

.h3format {
        font-weight: 600;
}

.h4format {
        font-weight: 400;
        font-size: 14px;
}

.select_box {
	  padding: 11px 15px 11px;
}

button {
        font-size: 18px;
        background-color: #FF5A5F;
        color: #FFFFFF;
        height: 48px;
        width: 20%;
        border-radius: 4px;
        position: absolute;
        margin: 11px 0 11px;
        right: 30px;
        border: none;
}

button:hover {
        opacity: 90%;
}

.popover {
	  list-style: none;
	  position: relative;
	  display: none;
	  background-color: #FAFAFA;
	  border: 1px solid #DDDDDD;
	  line-height: 15px;
}

#select_box:hover > ul {
	  display: inherit;
	  border-radius: 4px;
	  top: 5px;
	  font-size: 16px;
}

#select_box1:hover > ul {
	  display: inherit;
	  top: 5px;
	  border-radius: 4px;
	  padding: 20px 10px 20px 15px;
}

.subpopover {
	  list-style: none;
	  margin: 0px 0 15px 20px;
	  padding: 0px 0px 0px 0px;
}

#header_div1 {
	  margin: 0px 0 15px 20px;
	  padding: 10px 0px 0px 10px;
}

#header_div2 {
	  padding: 10px 0px 0px 20px;
}
